.wp-block-buttons .wp-block-button.is-style-icon .wp-block-button__link ::after {
    content: '>';
    margin-left: 20px;
}

/* Image a */
.wc-block-components-product-image  a img{
    width: 19rem !important;
    height: 15rem !important;
    object-fit: cover !important;
    padding: 1rem;

} 


img .attachment-woocommerce_thumbnail{
    display: block;
    margin: 0 auto;
    
    
}

/* cart checkout button */
    .wc-block-components-button:not(.is-link){
        
        font-size: 1rem;
    }


/* mobile screen */
    @media screen and (max-width: 480px) { /* For mobile screens */
        .wc-block-components-button:not(.is-link){
            font-size: 1rem;
        }

        .wp-block-cover__background .has-background-dim{
            width: 5rem !important;
            height: 5rem !important;
        }

  
    }


  